@charset "utf-8";

* {
    margin: 0;
    padding: 0;
    background-color: #ffffff;
    color: #222328;
}

.cf::before, .cf::after {
    display: block;
    content: '';
    clear: both;
}

a {
    text-decoration: none;
}

ul li {
    list-style: none;
}

/* wrap */
#wrap {
    width: 100%;
}

/* container */
.container {
    width: 1200px;
    margin: 0 auto;
    height: inherit;
    background-color: rgba(0,0,0,0.3);
}

/* header */
#header {
    width: 100%;
    background-color: #efefef;
}
#header .container {
    display: flex;
}
#header .container .logo {
    width: 20%;
    height: 100px;
    display: block;
    background-color: #e3e3e3;
}
#header .container .nav {
    width: 80%;
    height: 100px;
    background-color: #d9d9d9;
}

#header .container .nav > ul {
    display: flex;
    justify-content: right;
    background-color: #808080;
}

#header .container .nav > ul > li {
    position: relative;
}

#header .container .nav > ul > li > a {
    display: block;
    padding: 15px 40px;
    font-weight: bold;
}

#header .container .nav > ul > li > a:hover {
    background-color: #ffe39c;
}

